<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<input type="button" id="cctv" value="cctv报社" /><input type="text" id="cctvText" /><br>
	<input type="button" id="gfb" value="国防部报社" /><input type="text" id="gfbText" /><br>
	<textarea id="info" rows="20" cols="60"></textarea>

</body>
  <script type="text/javascript" src="comm.js"></script>
  <script type="text/javascript" src="keymaster.min.js"></script>
  <script type="text/javascript" src="test.js"></script>
</html>