<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>tableOp</title>
<script type="text/javascript" src="../comm/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="tableOp.js"></script>
<link rel="stylesheet" href="tableOp.css" />
</head>
<body>

<div id="table1">
	<!-- 查询条件展示区 -->
	<div class="tableOp_query">
	     
	</div>
	<!-- 数据操作功能区 -->
	<div class="tableOp_function"></div>
	<!-- 查询数据展示区-->
	<div class="tableOp_data"></div>
	<!-- 分页区-->
	<div class="tableOp_page"></div>
</div>


</body>
</html>