<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <script type="text/javascript" src="comm.js"></script>
  <script type="text/javascript" src="keymaster.min.js"></script>
  <script type="text/javascript" src="test.js"></script>
</head>
<body>
	<input type="text" id="flow" /><input type="button" value="添加新流程" onclick="api.addFlow()" /><br>
	<input type="button"  value="回退" onclick="api.reBack()" /><input type="button"  value="重做" onclick="api.again()" />
	<div id="div01"></div>
</body>
</html>