<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>tableOp</title>
<script type="text/javascript" src="../comm/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="layout.js"></script>
<link rel="stylesheet" href="layout.css" />
</head>
<body>
<div class="container" style="background-color: aqua;">
	<div class="span12 ss" style="background-color: red;">
		<div class="grid4"  style="background-color: green;"></div>
		<div class="grid1"  style="background-color: maroon;"></div>
		<div class="grid1"  style="background-color: navy;"></div>
		<div class="grid1"  style="background-color: olive;"></div>
		<div class="grid1"  style="background-color: orange; "></div>
		<div class="grid1"  style="background-color: purple;"></div>
		<div class="grid1"  style="background-color: red;"></div>
		<div class="grid1"  style="background-color: silver;"></div>
		<div class="grid1"  style="background-color: teal;"></div>
	</div>
	<div class="span1" style="background-color: blue;">
		<div class="grid1"  style="background-color: orange; "></div>
		<div class="grid1"  style="background-color: purple;"></div>
		<div class="grid1"  style="background-color: red;"></div>
		<div class="grid1"  style="background-color: silver;"></div>
		<div class="grid1"  style="background-color: teal;"></div>
		<div class="grid1"  style="background-color: green;"></div>
		<div class="grid1"  style="background-color: lime;"></div>
		<div class="grid1"  style="background-color: maroon;"></div>
		<div class="grid1"  style="background-color: navy;"></div>
		<div class="grid1"  style="background-color: olive;"></div>
		<div class="grid1"  style="background-color: maroon;"></div>
		<div class="grid1"  style="background-color: navy;"></div>
	</div>
	<div class="span1" style="background-color:orange;">
	    <div class="grid1"  style="background-color: purple;"></div>
		<div class="grid1"  style="background-color: red;"></div>
		<div class="grid1"  style="background-color: silver;"></div>
		<div class="grid1"  style="background-color: teal;"></div>
		<div class="grid2"  style="background-color: green;"></div>
		<div class="grid1"  style="background-color: lime;"></div>
		<div class="grid1"  style="background-color: maroon;"></div>
		<div class="grid1"  style="background-color: navy;"></div>
		<div class="grid1"  style="background-color: olive;"></div>
		<div class="grid1"  style="background-color: orange; "></div>
		<div class="grid1"  style="background-color: purple;"></div>
	</div>
	<div class="span1" style="background-color:red;">
		<div class="grid5"  style="background-color: teal;"></div>
		<div class="grid1"  style="background-color: olive;"></div>
		<div class="grid1"  style="background-color: orange; "></div>
		<div class="grid3"  style="background-color: purple;"></div>
		<div class="grid1"  style="background-color: red;"></div>
		<div class="grid1"  style="background-color: blue;"></div>
	</div>
	<div class="span1" style="background-color:red;">
		<div class="grid12"  style="background-color: teal;"></div>
	</div>
</div>


</body>
</html>